body { font-family: Arial, Helvetica, sans-serif; 
       font-size: small; line-height: 1.6em; margin: 0; padding: 0;
       background-color: #eeffdd;
       color: #210337;
     }

/******** header, branding ********/
/* #masthead { position: fixed; background: #eeffdd;} */
h1.logo { float: left; width: 100em }
img.logo { vertical-align: middle }

a { text-decoration: none; color: black }
a:hover { text-decoration: underline }

h1 a { text-decoration: none }
h1, h2, h3 { font-family: "Candara Bold", Arial, Helvetica, sans-serif; margin: 0.5em; }

ul.hlist { list-style-type: none; position: fixed; padding-left: 20em}
ul.hlist li { display: inline; 
              padding: 1em;
              padding-top: 0.25em; padding-bottom: 0.25em;
              padding-right: 1em; padding-left: 1em; 
              border: 1px solid black;
              background: #ffd402;
              font-size: medium;
            }
ul.hlist li.selected { display: inline; background: #fea607; }

#main { padding-top: 70px }

/******** browse page layout ******/
.indent-body { margin-left: 3em; }

#browse-list { margin-left: 3em; }
#browse-list span { margin-left: 1em; }
#browse-list input { margin-right: 0.5em; }


/******** search page controls ******/
#search { margin-left: 3em; }

/* .container { margin: 1em; } */
.autocomplete-w1 { position: absolute; top: 0px; left: 0px; }
.autocomplete { border: 1px solid #999; background: #FFF; cursor: default; text-align: left; max-height: 350px; overflow: auto; /* IE6 specific: */ _height: 350px; _margin: 0; _overflow-x: hidden; }
.autocomplete .selected { background: #F0F0F0; }
.autocomplete div { padding: 2px 2px; line-height: 1em; white-space: nowrap; overflow: hidden; }

#search-description { color: #666; }
#search-description span { margin: 4px }

#search-results { list-style: none; margin-left: 3em; padding-left: 0 }
#search-results li { margin-bottom: 0.25em }

#pagination { margin-left: 3em; width: 400px }

/********* search results styles *******/

/* .play-info { font-size: smaller } */
/*.play-info { margin-left: 1em; margin-bottom: 0.5em }*/
.play-info span { margin-left: 5px }
div.speaker { width: 8em; float: left; color: #666; font-weight: bold}
div.speech { left: 9em; display: table-cell}
div.speech-container { margin-bottom: 1em; }
.source { font-style: italic }
.speech-info { color: #666; margin-left: 1em }

/************ shakespeare scene display *******/
.scene { margin-left: 1em }
.hi { background: #ff0; font-weight: bold }
ul.speech { list-style-type: none; }
ul.speech li { display: inline;  }
#pagination a { padding-left: 1em; } 
.scene { position: absolute; top: 120px; bottom: 0px; left: 0px; right: 0px; overflow: auto } 
